* {
    padding: 0;
    margin: 0;
}

#canvas {
    background-color: rgba(162, 255, 0, 0.623);
}

body {
    text-align: center;
}

.hide {
    display: none;
}


/* START GAME*/

.start-game {
    background-color: black;
    margin: 0px;
    height: 100vh;
    font-family: sans-serif;
    color: white;
    margin: 20px
}