/* GENERAL STYLING*/
* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

#canvas {
    background-image: url("../img/bg7.jpg");
    background-size: cover;
    border: 10px solid greenyellow;
    box-shadow:
        0 0 60px 30px #fff,
        0 0 100px 60px #f0f,
        0 0 140px 90px #0ff
        /*0 0 50px 20px greenyellow,
        0 0 800px 40px greenyellow,
        0 0 110px 60px rgb(225, 255, 0)*/

        /* 0 0 7px rgba(172, 255, 47, 0.781),
    0 0 10px rgba(172, 255, 47, 0.708),
    0 0 21px #FFCC33,
    0 0 42px #00FFFF,
    0 0 82px #9D00FF,
    0 0 92px greenyellow,
    0 0 102px greenyellow,
    0 0 151px greenyellow; */

}

body {
    text-align: center;
}

.hide {
    display: none;
}



/* START GAME*/
.start-game {
    background-color: black;
    margin: 0px;
    padding-top: 50px;
    font-family: sans-serif;
    color: white;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */

}

#start-button {
    padding: 15px 40px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;

    text-transform: uppercase;
    border: 3px solid greenyellow;
    border-radius: 10px;
    box-shadow: 5px 5px 5x 5px greenyellow;
    margin: 30px;

    text-shadow:
        0 0 7px rgba(172, 255, 47, 0.781),
        0 0 10px rgba(172, 255, 47, 0.708),
        0 0 21px greenyellow,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;

}

.start-game h1 {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.start-game img {
    width: 800px;
}

.start-game div {
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.start-game div img {
    width: 45px;
    height: 30px;
    margin-right: 20px;
}

/*CANVAS WINDOW*/

.canvas-window {
    background-color: black;
    height: 100vh;
}

.canvas-window canvas {
    margin-top: 70px;
}


/* lOST GAME*/
.lost-game {
    background-image: url("../img/gameOver.jpg");
    background-size: cover;
    height: 100vh;
}

#restart-button {
    margin-top: 555px;
    padding: 15px 40px;
    background-color: rgb(1, 1, 81);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ff22ff;
    font-size: 30px;
    font-weight: bold;

    text-transform: uppercase;
    border: 3px solid #ff22ff;
    border-radius: 10px;

}
